name: Deployment

on:
  push:
    branches: [hexo] # only push events on source branch trigger deployment

jobs:
  hexo-deployment:
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Shanghai

    steps:
    - name: Checkout source
      uses: actions/checkout@v3
      with:
        submodules: true

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18.17.0

    - name: Install dependencies
      run: |
        node -v
        npm i

    - name: Generate Static files
      run: |
        hexo clean
        hexo g
    
    - name: Deploy to Tencent COS
      env:
        SECRET_ID: ${{ secrets.COS_SECRET_ID }}
        SECRET_KEY: ${{ secrets.COS_SECRET_KEY }}
        BUCKET: ${{ secrets.COS_BUCKET_BLOG }}
        REGION: ${{ secrets.COS_REGION_BLOG }}
      run: |
        pip install coscmd
        cd ./public
        coscmd config -a $SECRET_ID -s $SECRET_KEY -b $BUCKET -r $REGION
        coscmd upload -rs . /
    
    - name: Deploy to Github Pages
      env:
        GIT_NAME: MarioZZJ
        GIT_EMAIL: ${{ secrets.GIT_EMAIL }}
        REPO: github.com/MarioZZJ/blog-MarioZZJ
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        cd ./public && git init && git add .
        git config --global user.name $GIT_NAME
        git config --global user.email $GIT_EMAIL
        git commit -m "Site deployed by GitHub Actions on push. "
        git config --global init.defaultBranch master
        git push --force --quiet "https://$GH_TOKEN@$REPO" master:master