name: Deployment

on:
  push:
    branches: [hexo] # only push events on source branch trigger deployment

jobs:
  hexo-deployment:
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Shanghai

    steps:
    - name: Checkout source
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - name: Install dependencies & Generate static files
      run: |
        node -v
        npm un hexo-renderer-marked --save
        npm un hexo-renderer-kramed --sav
        npm i -g hexo-cli
        npm i hexo-renderer-markdown-it --save
        npm i hexo-theme-butterfly
        npm install @neilsustc/markdown-it-katex hexo-wordcount hexo-butterfly-douban hexo-renderer-pug hexo-renderer-stylus hexo-generator-search hexo-butterfly-artitalk hexo-abbrlink --save
        npm i
        hexo clean
        hexo douban
        hexo g
    - name: Deploy to Github Pages
      env:
        GIT_NAME: MarioZZJ
        GIT_EMAIL: ${{ secrets.GIT_EMAIL }}
        REPO: github.com/MarioZZJ/blog-MarioZZJ
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        cd ./public && git init && git add .
        git config --global user.name $GIT_NAME
        git config --global user.email $GIT_EMAIL
        git commit -m "Site deployed by GitHub Actions"
        git config --global init.defaultBranch master
        git push --force --quiet "https://$GH_TOKEN@$REPO" master:master